.stories {
  display: flex;
  background: white;
  padding: 15px 10px;
  padding-bottom: 10px !important;
  width: 65%;
  border-radius: 3px;
  border: 1px solid #efefef;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.stories__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6px;
  cursor: pointer;
}
.stories__img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f83a63;
  padding: 3px;
}
.stories__img span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.stories__img span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories__name {
  font-size: 11px;
  margin-top: 4px;
}

@media (max-width: 600px) {
  .stories {
    width: 100%;
    padding-bottom: 0;
    top: 0;
  }
}
